
body{
    font-family: 'Bree Serif', serif;
    /* font-family: 'Open Sans', sans-serif; */
    /* background-color:#f5cb58; */
    background-color:#7ae3db;
    font-weight:bold;
    font-size:20px;
}

.btn{
padding:10px;
margin:10px;
}

ol, .create-form{
    border:8px solid black;
    border-radius:7px;
    padding:25px;
    margin:5px;
    background-color:#E5E7E9;  
}

h2,h1{
    text-align:center;
 
}

/* h1{
text-decoration:underline;

} */
.burgers-available, .burgers-devoured{
    font-size:18px;
}


img{
max-width:50%;
max-height:50%;
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
border:10px solid black;
border-radius:5px;
}


footer{
    background:#313131;
    text-align:center;
    border-top:8px solid #328cc1;
    font-family: 'Mali', cursive;
    padding-top:5px;
    padding-bottom:-10px;
    margin-top:50px;
    color:#fdfdfd;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
}

.mainhead{
    /* font-family: 'Open Sans', sans-serif;
    color: #f9fafc;
    background:grey;
    margin-bottom:-5px;
    border-bottom:2px solid #000000;
    text-align:center; */
    background:#313131;
    text-align:center;
    border-top:8px solid #328cc1;
    font-family: 'Mali', cursive;
   
    color:#fdfdfd;
}